In [95]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

#### Data

In [96]:
df = pd.read_json('Software.json',lines=True,)

In [97]:
df = df.drop(columns = ['reviewTime','reviewerID','asin','style','reviewerName','unixReviewTime','image','vote'])
df = df[df['verified'] == True]
df.head()
df[df['overall']==3].head()

,overall,verified,reviewText,summary
3,3,True,This book was missing pages!!! Important pages...,missing pages!!
31,3,True,I'm about 3/4 through this course. I have bee...,Pretty good but some shortcomings
50,3,True,Its average prefer Laura Shoe's DVD. The instr...,LR3 DVD review
77,3,True,I was somewhat disappointed ... I'd read that ...,I must be lacking a core
103,3,True,"only problem, daughter lost a code and ow cann...",Three Stars

In [98]:
for i in range(5):
    df[df['overall'] == i+1] = df[df['overall'] == i+1].sample(3000)

df.loc[df[df['overall']==2].index, 'overall'] = 1
df.loc[df[df['overall']==4].index, 'overall'] = 5
df.head()

   overall verified reviewText summary
0      NaN      NaN        NaN     NaN
1      NaN      NaN        NaN     NaN
2      NaN      NaN        NaN     NaN
3      NaN      NaN        NaN     NaN
5      NaN      NaN        NaN     NaN

In [99]:
# data= df.dropna(subset=['reviewText'])
data= df.dropna(subset=['summary'])
data.head()

,overall,verified,reviewText,summary
12,1.0,True,Not worth the price. Most of the concepts are ...,Very simplistic
103,3.0,True,"only problem, daughter lost a code and ow cann...",Three Stars
120,5.0,True,My daughter got it and she likes it. She is le...,Good
222,5.0,True,good for learning all aspects of microsoft word,Good Book
224,5.0,True,CD not needed for this class-all info was prov...,Five Stars

#### Data Processing

In [100]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.pipeline import Pipeline

In [101]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [102]:
X_train, X_test, y_train, y_test = train_test_split(data['summary'], data['overall'], test_size = 0.3, random_state=0, shuffle= True, stratify=data['overall'])
X_train.head()

400961                                  HARDLY A NIGHTS DAY
11176                                         reader rabbit
93558              One computer Download was Disappointment
250997                                           Four Stars
250627    I've been a user for many years and have been ...
Name: summary, dtype: object

#### Bag of Word Approach

In [103]:
clf = Pipeline([('tfidf',TfidfVectorizer()), ('clf', RandomForestClassifier(n_estimators= 150,n_jobs=-1))])

In [104]:
clf.fit(X_train, y_train)
print(888)

888

In [105]:
y_pred = clf.predict(X_test)

In [106]:
confusion_matrix(y_test, y_pred)

array([[1463,  123,  214],
       [ 388,  299,  213],
       [ 275,   97, 1428]], dtype=int64)

In [107]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         1.0       0.69      0.81      0.75      1800
         3.0       0.58      0.33      0.42       900
         5.0       0.77      0.79      0.78      1800

    accuracy                           0.71      4500
   macro avg       0.68      0.65      0.65      4500
weighted avg       0.70      0.71      0.69      4500

#### Data Cleaning

In [109]:
import spacy
from spacy import displacy
from spacy.lang.en.stop_words import STOP_WORDS
import string

In [110]:
nlp = spacy.load('en_core_web_md')

In [111]:
punct = string.punctuation

In [ ]:
def clean_data(sentence):
    doc = nlp(sentence)
    token = []
    for token in  doc:
        if token.lemma_!= "-PRON-":
            temp = token.lemma_.lower()

In [30]:
text = X_train[439017]
doc = nlp(text)
doc

So do you like Photoshop 7?  Yeah... This is NOTHING like that.

In [31]:
stopwords = list(STOP_WORDS)

#### Lemmatization

In [32]:
doc1 = nlp('run runs running runner')
for lem in doc:
    print(lem.text, lem.lemma_)

So so
do do
you -PRON-
like like
Photoshop Photoshop
7 7
? ?

Yeah yeah
... ...
This this
is be
NOTHING nothing
like like
that that
. .